section.features
    h2.hidden How are we better than others?
    ul.features__items.container
        li.features__item
            img.features__img(src="./img/feature/1.svg" alt="")
            h3.features__item-title Free Delivery
            p.features__item-description Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        li.features__item
            img.features__img(src="./img/feature/2.svg" alt="")
            h3.features__item-title Free Delivery
            p.features__item-description Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        li.features__item
            img.features__img(src="./img/feature/3.svg" alt="")
            h3.features__item-title Free Delivery
            p.features__item-description Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
