section.feedback 
    h2.hidden Feedback
    .container 
        .feedback-wrapper
            .feedback__col-left
                img.feedback__img-manager(src="./img/footer/face.png" alt="") 
                p.feedback__text "Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum"
            .feedback__col-right
                h2.feedback__title-subscribe SUBSCRIBE
                p.feedback__description-subscribe FOR OUR NEWLETTER AND PROMOTION
                form.feedback__form-subscribe(action="#") 
                    input.feedback__subscribe-input-email(required name="email" type="email" placeholder="Enter Your Email")
                    input.feedback__subscribe-input-button( type="submit" value="Subscribe")
