footer.footer
    .container.footer-wrapper 
        .footer__copyright &copy; 2021 Brand All Rights Reserved.
        ul.footer__social-links
            li  
                a.footer__social-link(href="#") 
                    i.fab.fa-facebook-f
            li  
                a.footer__social-link(href="#") 
                    i.fab.fa-instagram
            li  
                a.footer__social-link(href="#") 
                    i.fab.fa-pinterest-p
            li  
                a.footer__social-link(href="#") 
                    i.fab.fa-twitter

