section.subheader 
    .subheader__wrap.container 
        h1.subheader__title NEW ARRIVALS
        ul.subheader__breadcrumbs
            li 
                a(href="/") HOME
            li 
                a(href="catalog.html") MEN
            li  NEW ARRIVALS