section.categories
    h2.hidden Product categories
    .container 
        .categories-wrapper
            //- Item
            div(class="categories__item categories__for-womаn")
                .categories__overlay 
                p.categories__sale 30% OFF
                p.categories__name
                    a(href="catalog.html") FOR WOMEN 
            //- Item

            //- Item
            div(class="categories__item categories__for-mаn")
                .categories__overlay 
                p.categories__sale HOT DEA
                p.categories__name
                    a(href="catalog.html") FOR MAN
            //- Item

            //- Item
            .categories__item.categories__for-kids
                .categories__overlay 
                p.categories__sale NEW ARRIVALS
                p.categories__name
                    a(href="catalog.html") FOR KIDS
            //- Item

            //- Item
            .categories__item.categories__for-accesories
                .categories__overlay 
                p.categories__sale LUXIROUS & TRENDY
                p.categories__name
                    a(href="catalog.html") ACCESORIES
            //- Item