section.products.container
    h2.products__section-title  Fetured Items
    p.products__section-description Shop for items based on what we featured in this week
    ul.products__items
        include ../mixins/card.pug
        each val ,index in [1,2,3,4,5,6]
            +card(val, 15 + index)
    .products__wrap-button
        a.products__button(href="catalog.html") Browse All Product
