section.product-info.container 
    .product-info__category  WOMEN COLLECTION
    h2.product-info__name MOSCHINO CHEAP AND CHIC
    .product-info__description
        p  Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative   architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals.
        p.product-info__price $561
        ul.sort__items
            li.sort__item
                a(href="#") CHOOSE COLOR
            li.sort__item
                a(href="#") CHOOSE SIZE
            li.sort__item
                a(href="#") QUANTITY
        .products__wrap-button
            a.products__button(href="cart.html") 
                img(src="img/product/cart-pink.svg" alt="") 
                | Add to Cart 