section.slider 
    h2.hidden Фото товаров
    .slider__slides
        img.slide( src="img/product/slide.jpg" alt="Product Image")
    .slider__control-buttons
        a.slider__previous(href="#") 
            img.slider__previous-img(src="img/product/slider__next.svg" alt="")
        a.slider__next(href="#") 
            img(src="img/product/slider__next.svg" alt="")