section.features
    .container 
        h2.section__title Чем я лучше других?
        .features__wrap 
            ul.features__items
                li.features__item.features__item-1
                    p.features__text Сотрудничаю с веб дизайнерами и sео специалистами.
                li.features__item.features__item-2
                    p.features__text Адекватные цены на весь спектр услуг и готовую продукцию. 
                li.features__item.features__item-3 
                    p.features__text  Оплата только за результат и нет ни каких финансовых рисков. Аванс не нужен.
                li.features__item.features__item-4 
                    p.features__text Сопровождение работ в течении 3-х месяцев после передачи проекта заказчику.