doctype html
html(lang="ru")
    head
        include include/header/head.pug 
        title Дмитрий Коченов - Создание сайтов под ключ
body#homepage
    include include/header/header.pug 
    include include/slider/slider.pug 
    include include/service/service.pug 
    include include/action/action.pug 
    include include/features/features.pug 
    include include/partners/partners.pug
    include include/footer/footer.pug


