doctype html
<<<<<<< HEAD
html(lang="en")
    head
        include pug/_header.pug
        title Главная
    body
        include pug/includes/_header.pug 
        include pug/includes/promo.pug
        include pug/includes/categories.pug
        include pug/includes/products.pug
        include pug/includes/_features.pug
        include pug/_footer.pug 
=======
html(lang="ru")
    head
        include include/header/head.pug 
        title Дмитрий Коченов - Создание сайтов под ключ
body#homepage
    include include/header/header.pug 
    include include/slider/slider.pug 
    include include/service/service.pug 
    include include/action/action.pug 
    include include/features/features.pug 
    include include/partners/partners.pug
    include include/footer/footer.pug


>>>>>>> 1a53ad5d78028c6b834799dd02f1b139eac6d459
