doctype html
html(lang="en")
    head
        include pug/_header.pug
        title Главная
    body
        include pug/includes/_header.pug 
        include pug/includes/promo.pug
        include pug/includes/categories.pug
        include pug/includes/products.pug
        include pug/includes/_features.pug
        include pug/_footer.pug