doctype html
html(lang="ru")
    head
        include include/header/head.pug 
        title Технологии создания сайта, которые использует Дмитрий Коченов
body#tehnologies
    include include/header/header.pug 
    include include/breadcrumbs/breadcrumbs.pug 
    include include/page/page.pug

    include include/action/action.pug 
    include include/features/features.pug 
    include include/footer/footer.pug

