header.header
    .header__wrap.container 
        .header__logo
            a(href="#") Дмитрий Коченов  
        nav.header__menu 
            ul.header__menu-items
                li.header__menu-item 
                    a.header__menu-link(href="#") Услуги 
                li.header__menu-item 
                    a.header__menu-link(href="tehnologies.html") Технологии 
                li.header__menu-item 
                    a.header__menu-link(href="#") Продукция
                li.header__menu-item 
                    a.header__menu-link(href="#") Портфолио
                li.header__menu-item 
                    a.header__menu-link(href="#") Блог
                li.header__menu-item 
                    a.header__menu-link(href="#") О себе
        .header__button
            a.btn-border(href="#") Контакты