section.service
    .container 
        h2.section__title Мои услуги
        ul.service__items 
            li.service__item 
                .service__content
                    h3.service__content-title Вёрстка сайтов и лендингов
                    p.service__content-description Предоставляю услуги по современной вёрстве сайтов и лендингов, интернет магазинов и порталов. Делаю вёрстку по макету FIGMA. Результат работы будет аналогичный макету. Использую в работе стек следующих технологий:
                    ul.list 
                        li HTML5
                        li CSS3
                        li PUG - препроцессор HTML
                        li SASS - препроцессор CSS
                        li JavaScript 
                        li Придерживаюсь правилам БЭМ
                        li FIGMA
                    p.service__content-description От заказчика требуется только макет в FIGMA и если есть какие-нибудь пожелания к работе то закажите обратный звонок и мы договаримся о деталях заказа.
                .service__image
                    img(src="img/service/shop.svg" alt="")
            li.service__item 
                .service__image
                    img(src="img/service/calculate.svg" alt="")
                .service__content
                    h3.service__content-title Разработка форм и калькуляторов
                    p.service__content-description Бывают такие ситуации, что в уже готовый сайт нужно добавить форму для расчёта, например, стоимости выбранных услуг или посчитать смету в строительстве. Вариантов и ситуаций много, но в любых случаях я предоставляю свои услуги по данному направлению. Есть 2 варианта калькулятора, один сохраняет данные ввода на долго  и предоставляет эти данные пользователю в любой момент времени, другой не сохраняет а только показывает результат пользователю после расчётов. Второй вариант проще и дешевле первого. 
                    p.service__content-description От заказчика требуется ТЕХНИЧЕСКОЕ ЗАДАНИЕ, где чётко описано то, что должно быть в калькуляторе и какие формулы расчёта внедрять, а так же нужна ссылка на сайт, что бы использовать его стилистику. Так же разрабатываю новые сайты вместе с проектированием калькуляторов.
