section.slider 
    .container
        .slider__wrap
            .slider__slide-1.slider__slide
                .slider__content-wrap
                    h2.slider__slide-title Добро пожаловать на мой сайт
                    p.slider__slide-text Я начинающий Веб разработчик. Предоставляю широкий спектр услуг по веб разработке. Ещё учусь, но уже активно практикую создание сайтов. Мои актуальные услуги отображаются в соответствующем разделе сайта. Текущий мой опыт посмотрите в разделе Портфолио. Мои услуги качественны и оптимальны по цене. Я дорожу своей репутацией и репутацией своих клиентов.  
                    p.slider__slide-text Так как я свободный разработчик, то со мной проще договариться, чем с крупными веб студиями. Работаю только с одним заказом и не отвслекаюсь на другие. На сайте виден мой статус и график разработок. 
                    a.btn-border.slider__slide-btn(href="/about.html") Подробнее о себе
                    a.btn.slider__slide-btn(href="/contacts.html") Контакты