section.action
    .action__wrap
        .container 
            .action__content-wrap
                h2.white.action__title Сделай заказ уже сейчас
                p.white.action__description Интересны мои услуги? Обязательно посмотрите портфолио и ознакомьтесь более подробно с описанием услуг. Посмотрите моё рассписание и выбирите удобное время собеседования.
                p.white.action__description На собеседовании мы договаримся по срокам разработки, способам оплаты и уточним все детали, которые волнуют Вас. Есть различные варианты собеседования, мне главное точно знать что хочет заказчик. Если Вы умеете составлять ТЕХНИЧЕСКОЕ ЗАДАНИЕ, то мне будет проще понять, что вы в итоге хотите.
                .action__btn-wrap
                    a.btn-border Контакты
                    a.btn-border Расписание
                    a.btn Подробнее